//Start header /// 
.socail-media-header{
    background: $secColora;
    color: #fff;
    padding-top: 12px;
    padding-bottom: 0;
    

 .wel-text{
        p{font-size: 12px; }   
    }

    .icon-socilaM{
        text-align: right;
        i{
            margin: 0 5px;
          }
    }  
}
// End header